# EditorConfig é um arquivo de configuração para garantir a consistência de estilo de codificação.
# Para mais informações, consulte https://editorconfig.org

# Top-level .editorconfig file
root = true

# Arquivos de código fonte em JavaScript/React
[*.js]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Arquivos de código fonte em arquivos .json
[*.json]
indent_style = space
indent_size = 2

# Arquivos de estilo CSS/SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2
